@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5fbbf0;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 76px;
    background-color: white;
}

.container-header {
    width: 100%;
    height: 76px;
    max-width: 1196px;
    margin: 0 auto;
}

.content-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
}

header ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

header ul li a:hover {
    color: #5fbbf0;
    transition: all ease 0.2s;
}

.banner {
    width: 100%;
    height: calc(100vh - 76px);
}

.container-banner {
    width: 100%;
    height: 100%;
    max-width: 1196px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.banner-img {
    display: flex;
    justify-content: center;
    margin-right: 100px;
}

.banner-img img {
    width: 450px;
}

.banner-content h1 {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 24px;
    text-align: right;
}

.banner-content p {
    font-size: 22px;
    margin-bottom: 32px;
    text-align: right;
}

.banner-links{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 48px;
}

.banner-links a {
    padding: 8px 24px;
    background-color: transparent;
    font-size: 19px;
    border-radius: 8px;
    border: 2px solid black;
    cursor: pointer;
}

.banner-links a:hover{
    border: 2px solid white;
    color: white;
    transition: all ease 0.2s;
}

.video {
    width: 100%;
    background-color: white;
    padding: 80px 0;
}

.container-video {
    width: 100%;
    max-width: 1196px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 48px;
}

.container-video video{
    width: 500px;
}

.resume-video p {
    margin-top: 24px;
    font-size: 18px;
}

.about {
    padding: 80px 0;
}

.container-about {
    width: 100%;
    max-width: 1196px;
    margin: 0 auto;
}

.container-about p {
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    padding: 32px 0;
}

.card {
    display: flex;
    align-items: center;
    padding: 16px 48px;
    gap: 16px;
    border: 2px solid black;
    border-radius: 6px;
}

.projects {
    padding: 80px 0;
    background-color: white;
}

.container-projects {
    width: 100%;
    max-width: 1196px;
    margin: 0 auto;
}

.container-projects h2 {
    margin-bottom: 24px;
}

.project-card img {
    width: 250px;
    height: 160px;
    border-radius: 6px;
}

.project-card {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 32px;
    padding: 12px 12px 24px 12px;
    border-bottom: 1px solid #818181;
}

.card-content p {
    padding: 8px 0;
}

.container-footer {
    width: 100%;
    max-width: 1196px;
    margin: 0 auto;
    padding: 24px;
}

.container-footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.container-footer a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.container-footer a:hover {
    color: white;
    transition: all ease 0.2s;
}

.container-footer img {
    width: 32px;
    height: 32px;
}

.container-footer ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}
